/********** common setting **********/


/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Make body fill the entire viewport */
body {
    width: 100vw;  /* Viewport width */
    height: 100vh; /* Viewport height */
    justify-content: center;
    align-items: center;
}


h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
}

a,
button {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0 !important;
    padding: 2rem 1rem;
}

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #00FFAD;
    color: #192440;
}

.cta-green:hover {
    color: #ffffff;
    background: #00e69c;
}

.cta-blue {
    background: #192440;
    color: #ffffff;
}

.cta-blue:hover {
    color: #ffffff;
    background: #121a2e;
}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}

#banner {
    background-size: cover;
}

/*******uplaod dataset ********/

#contact22 {
    padding: 50px 20px;
    border-radius: 10px;
}

.upload-section {
    background: #ffffff; /* White background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.custom-file-upload {
    display: block;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

.file-input {
    display: none;
}

.upload-btn, .display-btn {
    margin: 10px;
    padding: 10px 20px;
}



/********** banner **********/
#banner header {
    overflow: hidden;
}

#banner header img {
    max-width: 80px;
}

/*    form code   */

/* Card Styling */
.bg-gold {
    background-color: #f8d568;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Form Field Colors */
.light-blue {
    background-color: #e3f2fd;
    padding: 10px;
    border-radius: 5px;
}

.green {
    background-color: #c8e6c9;
    padding: 10px;
    border-radius: 5px;
}

.yellow {
    background-color: #fff9c4;
    padding: 10px;
    border-radius: 5px;
}

/* Submit Button */
.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}


/********** feature (skew background) **********/
.feature img {
    width: 100%;
    /* max-width: 480px; */
}

#feature-first {
    background: linear-gradient(168deg, #ffffff 55%, #00FFAD 0);
}

#feature-last {
    background: #00FFAD;
}

/********** price table **********/
#price-table {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

#price-table__premium {
    background: #192440;
    color: #ffffff;
}

#price-table ul li {
    padding: 5px 0;
}

/********* analyse index ************/


.analyze-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.analyze-card .card-title {
    font-size: 20px;
    font-weight: bold;
}

.analyze-card .card-text {
    font-size: 16px;
    margin-bottom: 15px;
}

.btn-primary {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
}

.mid-btn {
    background-color: #180f08;
    color: white;
}

.forward-btn {
    background-color: #0b160d;
    color: white;
}




/********** contact **********/
#contact {
    background-size: cover;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #00FFAD;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid #00FFAD;
    color: #ffffff;
}

/********** copyright **********/
#copyright {
    background: #192440;
    padding: 0rem 1rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #00FFAD;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }
}